<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-mobile-device-security" version="0.1"
	xmlns="http://apache.org/cordova/ns/plugins/1.0"
	xmlns:android="http://schemas.android.com/apk/res/android">
	<name>MobileDeviceSecurity</name>
	<js-module name="MobileDeviceSecurity" src="www/MobileDeviceSecurity.js">
		<clobbers target="cordova.plugins.MobileDeviceSecurity" />
	</js-module>
	<platform name="ios">
		<config-file parent="/*" target="config.xml">
			<feature name="MobileDeviceSecurity">
				<param name="ios-package" value="MobileDeviceSecurity" />
			</feature>
		</config-file>
		<source-file src="src/ios/MobileDeviceSecurity.swift" />
	</platform>
</plugin>
