<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-mobile-device-security" version="0.0.11"
	xmlns="http://apache.org/cordova/ns/plugins/1.0"
	xmlns:android="http://schemas.android.com/apk/res/android">
	<name>MobileDeviceSecurity</name>
	<js-module name="MobileDeviceSecurity" src="www/MobileDeviceSecurity.js">
		<clobbers target="cordova.plugins.MobileDeviceSecurity" />
	</js-module>
	<platform name="ios">
		<config-file parent="/*" target="config.xml">
			<feature name="MobileDeviceSecurity">
				<param name="ios-package" value="MobileDeviceSecurity" />
			</feature>
		</config-file>
		<source-file src="src/ios/MobileDeviceSecurity.swift" />
		<source-file src="src/ios/IOSSecuritySuite/EmulatorChecker.swift" />
		<source-file src="src/ios/IOSSecuritySuite/FishHookChecker.swift" />
		<source-file src="src/ios/IOSSecuritySuite/JailbreakChecker.swift" />
		<source-file src="src/ios/IOSSecuritySuite/ReverseEngineeringToolsChecker.swift" />
		<source-file src="src/ios/IOSSecuritySuite/RuntimeHookChecker.swift" />
		<source-file src="src/ios/IOSSecuritySuite/IOSSecuritySuite.h" />
		<source-file src="src/ios/IOSSecuritySuite/IntegrityChecker.swift" />
		<source-file src="src/ios/IOSSecuritySuite/MSHookFunctionChecker.swift" />
		<source-file src="src/ios/IOSSecuritySuite/ProxyChecker.swift" />
		<source-file src="src/ios/IOSSecuritySuite/IOSSecuritySuite.swift" />
		<source-file src="src/ios/IOSSecuritySuite/DebuggerChecker.swift" />
		<source-file src="src/ios/IsDebug.h" />
		<source-file src="src/ios/IsDebug.m" />
	</platform>
</plugin>
